{% extends 'shared/base.html' %}
{% load static %}
{% load ratings %}
{% block slider %}
    <div class="row">
            <div class="col-md-12">

              <div id="CarouselExampleSlidesOnly" class="carousel slide slider_content" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for item in sliders %}
                        <li data-target="#CarouselExampleSlidesOnly" class="rounded-circle" data-slide-to="item.id" class="{{ forloop.first|yesno:'active,' }}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                   {% for slider in sliders %}
                      <div class="carousel-item {{ forloop.first|yesno:'active,' }}">
                        <div class="row d-flex justify-content-center">
                          <div class="col-md-5 ">
                            <div class="bg-header-content">
                              <h3>{{ slider.title }}</h3>
                                <p>{{ slider.description }}</p>
                                <a href="{{ slider.link }}" class="btn btn-primary">بيشتر بخوانيد</a>
                            </div>
                          </div>
                          <div class="col-md-7 bg-header-image">
                            <img src="{{ slider.image.url }}" class="w-100 img-fluid slider-image" alt="{{ slider.title }}" />
                          </div>
                        </div>
                      </div>
                   {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#CarouselExampleSlidesOnly" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#CarouselExampleSlidesOnly" role="button" data-slide="next">
                  <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
    </div>
{% endblock %}


{% block shap_main_page %}
    <div class="shape2">
      <div class="custom-shape-divider-bottom-1638839021 ">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path
            d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
            opacity=".25" class="shape-fill"></path>
          <path
            d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
            opacity=".5" class="shape-fill"></path>
          <path
            d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
            class="shape-fill"></path>
        </svg>
      </div>
    </div>
{% endblock %}

{% block content %}
 <br>
  <section class="popular_article mt-4">
    <div class="container">
      <div class="introduction-section">
        <h2>ليست مقالات پر بازديد ماه</h2>
      </div>
      <div class="row ">
          {% for popular_article in popular_articles %}
             <div class="col-12 col-md-6 col-lg-4 mb-4 ">
                <div class="card wow fadeInDownBig animated" data-wow-delay="0.3s">
                  <div class="our-post">
                    <img src="{{ popular_article.thumbnail.url }}" class="img-fluid" />
                    <div class="post-content">
                      <h3 class="title">
                            {{ popular_article.title }}
                            {% if popular_article.is_special %}
                                <span class="badge bg-danger" style="font-size: 12px;">مقاله ویژه</span>
                            {% endif %}
                      </h3>
                      <span class="post"><a href="{% url 'article:author' popular_article.author %}"><i class="fa fa-user-circle px-2"></i> {{ popular_article.author.get_full_name }} </a></span>
                      <p class="description"> {{ popular_article.description|striptags|truncatewords:20 }} </p>
                      <ul class="post-footer">
                         <li>
                             {% ratings popular_article %}
                         </li>
                         <li>
                              <a href="{% url 'article:article-detail' popular_article.slug %}"><i class="fa fa-eye-slash px-2"></i>مطالعه مقاله
                              </a>
                         </li>
                      </ul>
                    </div>
                  </div>
                </div>
             </div>
          {% endfor %}
      </div>
    </div>
  </section>
  <br>
  <section class="mt-4">
    <div class="container">
      <div class="introduction-section">
        <h2>ليست مقالات داغ ماه </h2>
      </div>
      <div class="row ">
          {% for hot_article in hot_articles %}
             <div class="col-12 col-md-6 col-lg-4 mb-4 ">
                <div class="card wow fadeInDownBig animated" data-wow-delay=".5s">
                  <div class="our-post">
                    <img src="{{ hot_article.thumbnail.url }}" class="img-fluid" />
                    <div class="post-content">
                      <h3 class="title">
                            {{ hot_article.title }}
                            {% if hot_article.is_special %}
                                <span class="badge bg-danger" style="font-size: 12px;">مقاله ویژه</span>
                            {% endif %}
                      </h3>
                      <span class="post"><a href="{% url 'article:author' hot_article.author %}"><i class="fa fa-user-circle px-2"></i> {{ hot_article.author.get_full_name }} </a></span>
                      <p class="description"> {{ hot_article.description|striptags|truncatewords:20 }} </p>
                      <ul class="post-footer">
                         <li>
                             {% ratings hot_article %}
                         </li>
                         <li>
                              <a href="{% url 'article:article-detail' hot_article.slug %}"><i class="fa fa-eye-slash px-2"></i>مطالعه مقاله
                              </a>
                         </li>
                      </ul>
                    </div>
                  </div>
                </div>
             </div>
          {% endfor %}
      </div>
    </div>
  </section>
  <br>
  <section class="mt-4">
    <div class="container">
      <div class="introduction-section">
        <h2>ليست آخرين مقالات </h2>
      </div>
      <div class="row ">
          {% for latest_article in latest_articles %}
             <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card wow fadeInDownBig animated" data-wow-delay=".8s">
                  <div class="our-post">
                    <img src="{{ latest_article.thumbnail.url }}" class="img-fluid" />
                    <div class="post-content">
                      <h3 class="title">
                            {{ latest_article.title }}
                            {% if latest_article.is_special %}
                                <span class="badge bg-danger" style="font-size: 12px;">مقاله ویژه</span>
                            {% endif %}
                      </h3>
                      <span class="post"><a href="{% url 'article:author' latest_article.author %}"><i class="fa fa-user-circle px-2"></i> {{ latest_article.author.get_full_name }} </a></span>
                      <p class="description"> {{ latest_article.description|striptags|truncatewords:20 }} </p>
                      <ul class="post-footer">
                         <li>
                             {% ratings latest_article %}
                         </li>
                         <li>
                              <a href="{% url 'article:article-detail' latest_article.slug %}"><i class="fa fa-eye-slash px-2"></i>مطالعه مقاله
                              </a>
                         </li>
                      </ul>
                    </div>
                  </div>
                </div>
             </div>
          {% endfor %}
      </div>
    </div>
  </section>
  <br>
  <section class="mt-4">
    <div class="container">
      <div class="introduction-section">
        <h2>پر بازديدترين مقالات </h2>
      </div>
      <div class="row ">
          {% for most_visited_article in most_visited_articles %}
             <div class="col-12 col-md-6 col-lg-4 mb-4 ">
                <div class="card wow fadeInDownBig animated" data-wow-delay="1s">
                  <div class="our-post">
                    <img src="{{ most_visited_article.thumbnail.url }}" class="img-fluid" />
                    <div class="post-content">
                      <h3 class="title">
                            {{ most_visited_article.title }}
                            {% if most_visited_article.is_special %}
                                <span class="badge bg-danger" style="font-size: 12px;">مقاله ویژه</span>
                            {% endif %}
                      </h3>
                      <span class="post"><a href="{% url 'article:author' most_visited_article.author %}"><i class="fa fa-user-circle px-2"></i> {{ most_visited_article.author.get_full_name }} </a></span>
                      <p class="description"> {{ most_visited_article.description|striptags|truncatewords:20 }} </p>
                      <ul class="post-footer">
                         <li>
                             {% ratings most_visited_article %}
                         </li>
                         <li>
                              <a href="{% url 'article:article-detail' most_visited_article.slug %}"><i class="fa fa-eye-slash px-2"></i>مطالعه مقاله
                              </a>
                         </li>
                      </ul>
                    </div>
                  </div>
                </div>
             </div>
          {% endfor %}
      </div>
    </div>
  </section>
  <br>
{% endblock %}

